<h1>Test Your Studio Ghibli Knowledge!</h1>
<!-- TOTORO START -->
<br>
<br>
<br>
<div class="totoro-wrapper">
  <div class="totoro"></div>
</div>
<!-- TOTORO END -->
<br>
<br>
<br>
<br>

<table class="table">
    <thead>
        <tr>
            <th>
                <button ng-click="order('question')">Question</button>
                <span class="sortorder" ng-show="predicate === 'name'"></span>
            </th>
            <th>
                <button ng-click="order('category')">Category</button>
                <span class="sortorder" ng-show="predicate === 'amount'" ng-class="{reverse:reverse}"></span>
            </th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='quest in questions'>
            <td>{{quest.question}}</td>
            <td>{{quest.category}}</td>
            <td>
              <a ng-click="deleteQuestion(this)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
